{% extends 'base.html' %}

{% block data %}
<div id="auth">

    <a href="/logout/">Выйти: {{ username }}</a>

    <form action="manage_group/group_add/{{ username }}/" method="post">
    {{ group_form.as_p }}
    <input type="submit" value="Добавить группу">
    {% csrf_token %}
    </form>

    <div>
        {% for group in groups %}
            <table>
            <tr>
                 <td>
                     <a href="/manage_group/group_del/{{group.link}}/{{ username }}/">x</a>
                 </td>
                 <td>
                     {{group.link}}
                 </td>
             </tr>
            </table>
        {% endfor %}
    </div>

</div>



{% endblock %}