{% extends 'base.html' %}

{% block login %}
<div>
    <form action="/login/" method="post">
        {% csrf_token %}
        <label for="username"> Имя пользователя: </label>
        <input type="text" name="username" id="username">
        <label for="password"> Пароль:  </label>
        <input type="text" name="password" id="password">
        {% if login_error %}
            <label class="error">{{ login_error }}</label>
        {% endif %}
        <input class="button" type="submit" value="Воийти">
    </form>
</div>
{% endblock %}